/* CSS for Loading component  */
.rotation{
    position: relative;
    width: 200px;
    height: 200px;
    animation: rotate 3s ease-out infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(260deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.liquid{
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(rgb(5, 233, 233), rgb(84, 77, 77), rgb(7, 154, 154));
    transform: translate(-50%, -50%);
    border: 1px solid rgb(98, 96, 96);
    height: 2rem;
    width: 2rem;
    border-radius: 25px;
    --ani_dur: 4s;
    z-index: 1;
}

.liquid:nth-child(1){
    top: 0;
    animation: animate1 var(--ani_dur) linear infinite;
}
.liquid:nth-child(2){
    left: 0;
    animation: animate2 var(--ani_dur) linear infinite;
}
.liquid:nth-child(3){
    left: 100%;
    animation: animate3 var(--ani_dur) linear infinite;
}
.liquid:nth-child(4){
    top: 100%;
    animation: animate4 var(--ani_dur) linear infinite;
}

@keyframes animate1 {
    0%{
        top:0;
    }
    50%{
        top:100%;
    }
    100%{
        top: 0;
    }
}
@keyframes animate2 {
    0%{
        left:0;
    }
    50%{
        left:100%;
    }
    100%{
        left: 0;
    }
}
@keyframes animate3 {
    0%{
        left:100%;
    }
    50%{
        left:0;
    }
    100%{
        left: 100%;
    }
}
@keyframes animate4 {
    0%{
        top:100%;
    }
    50%{
        top:0%;
    }
    100%{
        top: 100%;
    }
}
